.subscriptions {
  padding: var(--pf-t--global--spacer--md);
  height: 100%;
}

.header {
  margin-bottom: var(--pf-t--global--spacer--sm);
}

.title {
  font-size: var(--pf-t--global--font--size--body--default);
  font-weight: var(--pf-t--global--font--weight--body--bold);
  color: var(--pf-t--global--text--color--regular);
  margin: 0;
}

.chevron {
  color: var(--pf-t--global--text--color--regular);
  font-size: var(--pf-t--global--font--size--sm);
}

.description {
  font-size: var(--pf-t--global--font--size--sm);
  color: var(--pf-t--global--text--color--regular);
  margin-bottom: var(--pf-t--global--spacer--md);
}

.metrics {
  margin-top: var(--pf-t--global--spacer--md);
  margin-bottom: var(--pf-t--global--spacer--md);
}

.count {
  font-size: var(--pf-t--global--font--size--4xl);
  font-weight: var(--pf-t--global--font--weight--body--default);
  line-height: var(--pf-t--global--font--line-height--body);
  color: var(--pf-t--global--text--color--regular);
}

.icon {
  color: var(--pf-t--global--text--color--regular);
  font-size: var(--pf-t--global--font--size--body--default);
}

.label {
  font-size: var(--pf-t--global--font--size--sm);
  color: var(--pf-t--global--text--color--regular);
}

.viewLink {
  padding-top: var(--pf-t--global--spacer--md);
}
