.chartContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.legendContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: var(--pf-t--global--spacer--sm);
  font-size: var(--pf-t--global--font--size--sm);
  color: var(--pf-t--global--text--color--subtle);
}
