.rosa-hcp-field-wrapper {
  width: 100%;
}

.rosa-hcp-field-wrapper--sm {
  max-width: calc(var(--pf-t--global--spacer--md) * 20);
}

.rosa-hcp-field-wrapper--md {
  max-width: calc(var(--pf-t--global--spacer--md) * 30);
}

.rosa-hcp-field-wrapper--lg {
  max-width: calc(var(--pf-t--global--spacer--md) * 40);
}
